
body {
    margin: 50px;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
    AppleGothic, sans-serif
  }

#seo{
  color: black;
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project {
  width: 300px;
  height: 300px;
  flex-grow: 1;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.overlay {
  background-color: black;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-family: snas-serif;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}
.overlay:hover {
  opacity: 0.6;
}

.project-1 {
 background-image: url("memory.jpg");
 background-size: 200%;
}
.project-2 {
  background-image: url("time.jpg");
  background-size: 150%;
}
.project-3 {
  background-image: url("idol.JPG");
  background-size: 200%;
}
.project-4 {
  background-image: url("daydream.jpg");
  background-size: 250%;
}




